<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }} - {{ page.tagline }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/pygments/monokai.css" rel="stylesheet">
        <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

        <link rel="shortcut icon" href="/favicon.png">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
    </head>

    <body>

        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ HOME_PATH }}">{{ site.title }} <span class="tagline">{{ site.tagline }}</span></a>
                    <ul class="nav">
                        {% assign pages_list = site.pages %}
                        {% assign group = 'navigation' %}
                        {% include JB/pages_list %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content">
                {{ content }}
            </div>


        </div> <!-- /container -->


        <footer>
        <span />
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <h3>Find me</h3>
                        <ul class="unstyled">
                            <li><a href="https://github.com/{{ site.author.github }}">Github</a></li>
                            <li><a href="https://twitter.com/#!/{{ site.author.twitter }}">Twitter</a></li>
                            <li><a href="https://plus.google.com/u/0/109133945230023093646/">Google+</a></li>
                            <li><a href="http://www.linkedin.com/pub/arkadiusz-hiler/4a/25a/621">LinkedIn</a></li>
                        </ul>
                        
                    </div>
                    <div class="span3">
                        <h3>Sites</h3>
                        <ul class="unstyled">
                            <li><a href="http://sigillum.cc">Sigillum</a></li>
                            <li><a href="http://hiler.pl"/>Hiler.pl</a></li>
                        </ul>
                    </div>
                    <div class="span6">
                        <h3>About</h3>
                        <span class="about">
                            I'm fighting in informatics field. My wepons of choice are C, Java, Ruby, Scala and *nix systems. They are sharp and deadly thanks to Vim ans ZSH. Beware.
                        </span>
                            
                    </div>
                </div>
            </div>
            <div class="down">
                <span />
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <p>&copy; {{ site.author.name }} 2012 
                            <span class="wq">
                                :wq▮
                            </span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            </footer>
            {% include JB/analytics %}
        </body>
    </html>
